:root {
    --primary-colour: #59a5d8;
    --secondary-colour: #386fa4;
}

body {
    background-color: #11151c;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.title {
    color: var(--primary-colour);

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0px;
}
.title h1 {
    font-size: 128px;
    margin: 0;
}
.title h2 {
    color: var(--secondary-colour);
    margin: 0;
    font-size: 32px;
}

nav {
    padding: 10px 0; 
    margin: 0;

    text-align: center;
    font-size: 0px;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--secondary-colour); 
    padding: 0 10px; 
    font-size: 20px;
    transition-duration: 0.25s;
}
nav a:hover {
    color: var(--primary-colour);
    font-size: 22px;
}
nav a.current {
    font-size: 22px;
}

nav a:not(:last-child) {
    border-right: 1px solid var(--primary-colour); 
}

.vertical-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    height: 100%;
}